<div class="todo-new">
    <input type="text" class="tododescription ltextbox" id="tododescription-{{todoListId}}" placeholder="Add new todo" value="{{description}}"/>
    <label>
        <strong>Assigned to : </strong>
        <select id="assignedTo-{{todoListId}}" class="select1">
            <option value="0">Unassigned</option>
        </select>
    </label>
    <label>
        <strong>Due on : </strong>
        <input type="text" placeholder="No due date" id="tododuedate-{{todoListId}}" class="stextbox tododuedate"/>
    </label>
    <input type="button" value="{{addButtonText}}" class=" button1 {{addButtonClass}}" id="todobtn-{{todoListId}}" />
    or
    <input type="button" value="{{cancelButtonText}}" class="button1 {{cancelButtonClass}}" id="cancelTodoForm-{{todoListId}}"/>
</div>