<div id="todoli-{{todoId}}" class="todo-content">
    <div class="todos-action-button">
        <span title="Delete Todo" id="delete-{{todoListId}}-{{todoId}}" class="delete delete-todo">&nbsp;</span>
        <span id="edit-{{todoListId}}-{{todoId}}" class="edit-todo">Edit</span>
    </div>
    <div class="desc-content">
        <input type="checkbox" id="todo-{{todoListId}}-{{todoId}}" class="todo-check">
        <label id="todolabel-{{todoId}}" class="todo-desc {{#if active}}label{{else}} strike{{/if}}">
            <a title="discuss this todo" href="{{url}}">Todo-{{todoId}} : {{description}}</a>
        </label>
        <div id="edit-todo-container-{{todoId}}"></div>
    </div>
</div>